.inquiries {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inquiries-container {

    width: 90%;
}

.input-cont {

    width: 100%;
}

.search-bar-cont {

    display: flex;
}