.inquiries {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header-cont > h1 {

    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.inquiries-container {

    width: 90%;
}

.input-cont {

    width: 100%;
}

.search-bar-cont {

    display: flex;
}

.empty-cont {

    display: none;
}

.btn-cont {
    
    display: flex;
    justify-content: center;
}