html {

    --header-color-first: #adddff;
    --header-color-second: #e3f2fd;
    --color-main: #f8f9fa;
    --color-secondary: #6c757d;

    --color-about-bg: #e9ecef;

    --color-secondary-dark: #e1e1ff;
    --color-secondary-after: #e1e1ff;

    --color-abt2-txt: #f0ffff;

    --padding-sides: 1em 5em 1em 5em;

    scroll-behavior: smooth;

}

.header-container {

    display: flex;
    justify-content: space-between;
    background-color: var(--header-color-first);
    padding: var(--padding-sides);
}

.h-location {


    ul {

        list-style: none;
    }
}

.h-contact {

    ul {

        display: flex;
        gap: 2em;
        list-style: none;
        flex-wrap: wrap;

    }
    
}

.nav {

    justify-content: space-between;
    background-color: var(--header-color-second);
    padding: var(--padding-sides) !important;
    font-weight: bold;

    ul {

        display: flex;
        list-style: none;
        gap: 2em;

    }

    ul > li > a {

        text-decoration: none;
    }

}

.site-name{

    text-transform: uppercase;
}

#nav-mobile {

    display: none;

    .header-btn {

        display: none;
    }

    ul {

        display: flex;
        list-style: none;
        gap: 1em;

    }

    ul > li > a {

        text-decoration: none;
        color: black;
    }


}

.intro, .about, .about2, .services {

    display: flex;
    align-items: center;
    background-color: var(--color-main);
    min-height: 100vh;
}

.intro-container, .about-container, .about2-container, 
.services-container {

    display: flex;
    justify-content: space-between;
    padding: var(--padding-sides);
    padding-left: 7em;
}

.intro-first, .about-first, .about2-first, .services-first {

    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
}

.int-first-header-cont, .abt-first-header-cont, 
.abt2-first-header-cont, .serv-first-header-cont {

    h6 {

        text-transform: uppercase;
        font-weight: bold;
    }

}

.int-second-header-cont, .abt-second-header-cont, 
.abt2-second-header-cont, .serv-second-header-cont {

    h1, h2 {

        font-weight: bold;
    }
}

.int-para-cont, .abt-para-cont {

    p {

        color: var(--color-secondary);

    }
}

.intro-image-container {

    img {

        width: 350px;
    }
}

.about {

    background-color: var(--color-about-bg);
}

.about-image-container {

    img {

        width: 500px;
    }
}


.about2 {

    justify-content: center;
    background-image: linear-gradient(0deg, rgb(231, 222, 227, 0.86), rgba(175, 162, 169, 0.8)) ,url("../img/about-bg.jpg");
    background-size: cover;
}

.about2-container {

    justify-content: center;
    text-align: center;
}

.abt2-first-header-cont, .abt2-second-header-cont, .abt2-para-cont {

    color: var(--color-abt2-txt);

}

.about2-info-cont {

    display: flex;
    gap: 1em;

    .card > .card-body > i {

        border: 1px solid;
        padding: 0.5em;
        border-radius: 30px;
        font-size: 30px;
        margin-bottom: 0.5em;
        color: var(--bs-blue);
    }
}

.services {

    justify-content: center;
    background-image: linear-gradient(0deg, rgb(231, 222, 227, 0.86), rgba(175, 162, 169, 0.8)) ,url("../img/service-bg.jpg");
    background-size: cover;

}

.services-first {

    width: unset;
    text-align: center;
}

.serv-info-cont {

    display: flex;
    gap: 1em;
    
}

@media (max-width: 660px) {

    .nav {

        display: none !important;
    }

    #nav-mobile {

        display: flex;
        background-color: #e3f2fd;
        color: black;

        .header-btn {

            display: block;
        }
    }
}